apiVersion: v1
kind: Namespace
metadata:
 name: my-app-namespace


---
apiVersion: apps/v1
kind: Deployment
metadata:
 name: my-api-deployment
 namespace: my-app-namespace
spec:
 replicas: 3
 selector:
   matchLabels:
     app: my-api
 template:
   metadata:
     labels:
       app: my-api
   spec:
     containers:
       - name: nodejs-api
         image: akshaylamkhade/api:latest
         ports:
           - containerPort: 3000
         resources:
           limits:
             cpu: "1"
           requests:
             cpu: "0.5"


---
apiVersion: apps/v1
kind: Deployment
metadata:
 name: my-go-worker-deployment
 namespace: my-app-namespace
spec:
 replicas: 2
 selector:
   matchLabels:
     app: my-go-worker
 template:
   metadata:
     labels:
       app: my-go-worker
   spec:
     containers:
       - name: go-worker
         image: akshaylamkhade/worker:latest
         resources:
           limits:
             cpu: "1"
           requests:
             cpu: "0.5"


---
apiVersion: v1
kind: Service
metadata:
 name: my-api-service
 namespace: my-app-namespace
spec:
 selector:
   app: my-api
 ports:
   - protocol: TCP
     port: 80
     targetPort: 3000
 type: LoadBalancer


---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
 name: my-api-hpa
 namespace: my-app-namespace
spec:
 scaleTargetRef:
   apiVersion: apps/v1
   kind: Deployment
   name: my-api-deployment
 minReplicas: 2
 maxReplicas: 6
 metrics:
   - type: Resource
     resource:
       name: cpu
       target:
         type: Utilization
         averageUtilization: 50