swagger: "2.0"
info:
  version: "1.0.0"
  title: "User Management API"
paths:
  /users:
    post:
      summary: "Create a new user"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "User object"
          required: true
          schema:
            $ref: "#/definitions/User"
      responses:
        201:
          description: "User created successfully"
          schema:
            $ref: "#/definitions/User"
        400:
          description: "Invalid user data"
        500:
          description: "Internal server error"
    get:
      summary: "Get all users"
      produces:
        - "application/json"
      responses:
        200:
          description: "List of users"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/User"
        500:
          description: "Internal server error"
  /users/{id}:
    parameters:
      - name: "id"
        in: "path"
        description: "ID of the user to retrieve"
        required: true
        type: "string"
    get:
      summary: "Get user by ID"
      produces:
        - "application/json"
      responses:
        200:
          description: "User found"
          schema:
            $ref: "#/definitions/User"
        400:
          description: "Invalid ID supplied"
        404:
          description: "User not found"
        500:
          description: "Internal server error"
    put:
      summary: "Update user by ID"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of the user to update"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "User object"
          required: true
          schema:
            $ref: "#/definitions/User"
      responses:
        200:
          description: "User updated successfully"
          schema:
            $ref: "#/definitions/User"
        400:
          description: "Invalid user data"
        404:
          description: "User not found"
        500:
          description: "Internal server error"
    delete:
      summary: "Delete user by ID"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of the user to delete"
          required: true
          type: "string"
      responses:
        200:
          description: "User deleted successfully"
        400:
          description: "Invalid ID supplied"
        404:
          description: "User not found"
        500:
          description: "Internal server error"
definitions:
  User:
    type: "object"
    properties:
      name:
        type: "string"
      email:
        type: "string"
        format: "email"
      age:
        type: "integer"
        format: "int32"
    required:
      - "name"
      - "email"
      - "age"
